h1 a, h2 a, h3 a, h4 a, h5 a, p a {
        display: inline-block;
        background: $light-button-bg;
        color: $dark-font-color;
        padding: .75em 2em;
        margin-top: 1em;

        transition: 200ms ease all;

    &:hover {
        background: $dark-font-color;;
        color: white;
    }
}
