h1 a, h2 a, h3 a, h4 a, h5 a {
    font-weight: bold;
    display: inline-block;
    background: $light-bg-color;
    color: $light-font-color;
    padding: .75em 2em;
    margin-top: 1em;
    transition: 200ms ease all;

    &:hover {
        background: $active-color;
        color: $dark-font-color;
    }
}

p a {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: $active-color;
    transition: 200ms ease all;
    color: $light-font-color;
    font-weight: bold;
    transition: 200ms ease color;

    &:hover {
        color: $active-color;
    }
}