.scrollSnap {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;

    > * {
        scroll-snap-align: start;
        box-sizing: border-box;
    }
}

.splash {
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.point {
    position: absolute;
    bottom: 3em;
    right: 1em;
    transform: rotate(-90deg);
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0) rotate(-90deg);
    }

    to {
        transform: translate3d(0, -20px, 0) rotate(-90deg);
    }
}

.splash__copyright {
    color: $dark-font-color;
    font-size: 13px;
}

.landing {
    background-color: $light-bg-color;
    color: $light-font-color;
}

.landing__content {
    max-width: 960px;
    align-self: center;

    p {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 899px) {
    .scrollSnap {
        scroll-snap-type: y proximity;

        > * {
            padding: 3em 1em;
        }
    }

    .splash__copyright {
        margin-right: 25%;
    }

    .splash__blob {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .scrollSnap {
        scroll-snap-type: y mandatory;

        > * {
            padding: 3em;
        }
    }

    .splash {
        justify-content: center;
    }

    .splash__blob {
        position: absolute;
        top: 20%;
        right: 5%;
        z-index: -1;
       
    }
}
