.splash {
    min-height: 50vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.splash__copyright {
    color: $dark-font-color;
    font-size: 13px;
}

.landing {
    background-color: $light-bg-color;
    color: $light-font-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__content {
    padding: 3em 0;
}

@media screen and (max-width: 899px) {
    .splash__copyright {
        display: none;
    }

    .showcase {
        padding-top: 30px;
    }
}

@media screen and (min-width: 900px) {
    .splash {
        flex: 90vw 0 0;
        display: flex;
    }

    .landing {
        flex: 60vw 0 0;
        justify-content: flex-start;
    }

    .showcase {
        flex: 100vw;
    }

    .scrollable {
        height: 100vh !important;
        overflow-y: scroll;
    }
}
