$light-bg-color: #f4f4f4;
$dark-body-color: #111;
$base-body-color: #444;
$light-body-color: #777;
$active-color: #0f0;
$border-color: #ccc;

$dark-font-color: #c1e9ee;
$dark-bg-color: #29634f;

$light-font-color: #ed4850;
$light-bg-color: #fadfe5;