$base-body-color: #444;

$dark-bg-color: #261F1D;
$dark-font-color: #f4f4f4;

$light-bg-color: #f4f4f4;
$light-font-color: #261F1D;

$light-body-color: #777;
$active-color: #F07B3E;
$border-color: #ccc;
