$light-bg-color: #f4f4f4;
$dark-body-color: #111;
$base-body-color: #444;
$light-body-color: #777;
$active-color: #0f0;
$border-color: #ccc;

$dark-font-color: #161418;
$dark-bg-color: #8B9C62;

$light-font-color: #161418;
$light-bg-color: #F1D8C5;

$light-button-bg: #FDF0E8;